<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <table border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
        <tbody> 
            <tr>
                <td class="oyCellFull" id="oyCell0_0" data-number="1"><input id="oyInput0_0" class="oyCellInput" #1 autocomplete="off" type="text" size="1" maxlength="1" value=""></td> 
                <td class="oyCellFull" id="oyCell1_0"><input id="oyInput1_0" class="oyCellInput" autocomplete="off" #2 type="text" size="1" maxlength="1" value=""></td>
                <td class="oyCellFull" id="oyCell2_0" data-number="2"><input id="oyInput2_0" class="oyCellInput" #3 autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                <td class="oyCellFull" id="oyCell3_0"><input id="oyInput3_0" class="oyCellInput" autocomplete="off" #4 type="text" size="1" maxlength="1" value=""></td>
                <td class="oyCellFull" id="oyCell4_0"><input id="oyInput4_0" class="oyCellInput" autocomplete="off"type="text"  #5 size="1" maxlength="1" value=""></td>
                <td class="oyCellFull" id="oyCell5_0"><input id="oyInput5_0" class="oyCellInput" autocomplete="off"type="text" #6  size="1" maxlength="1" value=""></td>
                <td class="oyCellFull" id="oyCell6_0"><input id="oyInput6_0" class="oyCellInput" autocomplete="off"type="text"  #7    size="1" maxlength="1" value=""></td>
                <td class="oyCellFull" id="oyCell7_0" data-number="3"><input id="oyInput7_0" class="oyCellInput" autocomplete="off"   #8  type="text" size="1" maxlength="1" value=""></td> 
                <td class="oyCellFull" id="oyCell8_0"><input id="oyInput8_0" class="oyCellInput" autocomplete="off"type="text"   #9  size="1" maxlength="1" value=""></td> 
                <td class="oyCellFull" id="oyCell9_0"><input id="oyInput9_0" class="oyCellInput" autocomplete="off"type="text" #10  size="1" maxlength="1" value=""></td> 
               </tr> 
               <tr> 
                   <td class="oyCellEmpty" id="oyCell0_1"></td><td class="oyCellEmpty" id="oyCell1_1"></td>
                   <td class="oyCellFull" id="oyCell2_1"><input id="oyInput2_1" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                   <td class="oyCellEmpty" id="oyCell3_1"></td><td class="oyCellEmpty" id="oyCell4_1"></td><td class="oyCellEmpty" id="oyCell5_1"></td> 
                   <td class="oyCellEmpty" id="oyCell6_1"></td><td class="oyCellFull" id="oyCell7_1"><input id="oyInput7_1" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                   <td class="oyCellEmpty" id="oyCell8_1"></td><td class="oyCellEmpty" id="oyCell9_1"></td> 
                   </tr> 
                   <tr> 
                       <td class="oyCellFull" id="oyCell0_2" data-number="4"><input id="oyInput0_2" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                   <td class="oyCellFull" id="oyCell1_2"><input id="oyInput1_2" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                   <td class="oyCellFull" id="oyCell2_2"><input id="oyInput2_2" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                   <td class="oyCellFull" id="oyCell3_2"><input id="oyInput3_2" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                   <td class="oyCellFull" id="oyCell4_2" data-number="5"><input id="oyInput4_2" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                   <td class="oyCellFull" id="oyCell5_2"><input id="oyInput5_2" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                   <td class="oyCellFull" id="oyCell6_2"><input id="oyInput6_2" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                   <td class="oyCellFull" id="oyCell7_2"><input id="oyInput7_2" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                   <td class="oyCellFull" id="oyCell8_2"><input id="oyInput8_2" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                   <td class="oyCellFull" id="oyCell9_2" data-number="6"><input id="oyInput9_2" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                </tr> 
                <tr> 
                    <td class="oyCellEmpty" id="oyCell0_3"></td><td class="oyCellEmpty" id="oyCell1_3"></td>
                    <td class="oyCellFull" id="oyCell2_3"><input id="oyInput2_3" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell3_3"></td><td class="oyCellFull" id="oyCell4_3"><input id="oyInput4_3" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell5_3"></td><td class="oyCellEmpty" id="oyCell6_3"></td><td class="oyCellFull" id="oyCell7_3"><input id="oyInput7_3" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell8_3"></td><td class="oyCellFull" id="oyCell9_3"><input id="oyInput9_3" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                </tr>  
                <tr>  
                    <td class="oyCellFull" id="oyCell0_4" data-number="7"><input id="oyInput0_4" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellFull" id="oyCell1_4"><input id="oyInput1_4" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellFull" id="oyCell2_4"><input id="oyInput2_4" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell3_4"></td><td class="oyCellFull" id="oyCell4_4"><input id="oyInput4_4" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell5_4"></td><td class="oyCellEmpty" id="oyCell6_4"></td><td class="oyCellFull" id="oyCell7_4"><input id="oyInput7_4" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell8_4"></td><td class="oyCellFull" id="oyCell9_4"><input id="oyInput9_4" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                </tr> 
                <tr> 
                    <td class="oyCellFull" id="oyCell0_5"><input id="oyInput0_5" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell1_5"></td><td class="oyCellFull" id="oyCell2_5"><input id="oyInput2_5" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell3_5"></td><td class="oyCellFull" id="oyCell4_5"><input id="oyInput4_5" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell5_5"></td><td class="oyCellEmpty" id="oyCell6_5"></td><td class="oyCellFull" id="oyCell7_5"><input id="oyInput7_5" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell8_5"></td><td class="oyCellFull" id="oyCell9_5"><input id="oyInput9_5" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                </tr> 
                <tr> 
                    <td class="oyCellFull" id="oyCell0_6" data-number="8"><input id="oyInput0_6" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellFull" id="oyCell1_6"><input id="oyInput1_6" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellFull" id="oyCell2_6"><input id="oyInput2_6" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell3_6"></td>
                    <td class="oyCellFull" id="oyCell4_6"><input id="oyInput4_6" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell5_6"></td>
                    <td class="oyCellEmpty" id="oyCell6_6"></td>
                    <td class="oyCellFull" id="oyCell7_6"><input id="oyInput7_6" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell8_6"></td><td class="oyCellFull" id="oyCell9_6"><input id="oyInput9_6" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                </tr> 
                <tr> 
                    <td class="oyCellFull" id="oyCell0_7"><input id="oyInput0_7" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell1_7"></td>
                    <td class="oyCellFull" id="oyCell2_7" data-number="9"><input id="oyInput2_7" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellFull" id="oyCell3_7"><input id="oyInput3_7" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellFull" id="oyCell4_7"><input id="oyInput4_7" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell5_7"></td><td class="oyCellFull" id="oyCell6_7" data-number="10"><input id="oyInput6_7" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellFull" id="oyCell7_7"><input id="oyInput7_7" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellFull" id="oyCell8_7"><input id="oyInput8_7" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellFull" id="oyCell9_7"><input id="oyInput9_7" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                </tr> 
                <tr> 
                    <td class="oyCellFull" id="oyCell0_8"><input id="oyInput0_8" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell1_8">qwertyu</td>
                    <td class="oyCellFull" id="oyCell2_8"><input id="oyInput2_8" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell3_8"></td><td class="oyCellFull" id="oyCell4_8"><input id="oyInput4_8" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell5_8"></td>
                    <td class="oyCellEmpty" id="oyCell6_8"></td>
                    <td class="oyCellFull" id="oyCell7_8"><input id="oyInput7_8" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell8_8"></td>
                    <td class="oyCellFull" id="oyCell9_8"><input id="oyInput9_8" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                </tr>
                <tr>  
                    <td class="oyCellFull" id="oyCell0_9" data-number="11"><input id="oyInput0_9" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellFull" id="oyCell1_9"><input id="oyInput1_9" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellFull" id="oyCell2_9"><input id="oyInput2_9" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellFull" id="oyCell3_9"><input id="oyInput3_9" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellFull" id="oyCell4_9"><input id="oyInput4_9" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellFull" id="oyCell5_9"><input id="oyInput5_9" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellFull" id="oyCell6_9"><input id="oyInput6_9" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellFull" id="oyCell7_9"><input id="oyInput7_9" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellFull" id="oyCell8_9"><input id="oyInput8_9" class="oyCellInput" autocomplete="off"type="text" size="1" maxlength="1" value=""></td>
                    <td class="oyCellEmpty" id="oyCell9_9"></td>
                </tr>
            </tbody> 
        </table>
</body>
</html>